.main-container{
    display: grid;

    grid-template-rows: 50px auto;
    grid-template-columns: 12% 44% 44%;

    grid-template-areas: 
        'header header header'
        'art-left-div article art-right-div'
    ;

    height: 100%;
}

.header {
    grid-area: header;
    height: 50px;
}

.art-left-div {
    grid-area: art-left-div;

    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.art-image{
    width: 100px;
}

.article{
    grid-area: article;

    align-items: center;
    justify-content: center;
}

.art-right-div {
    grid-area: art-right-div;

    margin-top: 68px;
}

.art2-image{
    width: 500px;
    margin-left: 60px;
}